.container {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: auto;
  grid-template-areas: "races drivers";
  grid-gap: 32px;
}

.races {
  grid-area: races;
}

.drivers {
  grid-area: drivers;
}
